@charset "UTF-8";
html {
  scroll-behavior: smooth; /* - плавная прокрутка; 
     instant - мгновенная прокрутка; 
     auto - на усмотрение браузера. */
}

body {
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  background-color: #f3f1ee;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; /* изменяет вид маркера для каждого элемента 
списка (используется только в таком написании). */
}

link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; /* определяет как содержимое заменяемого элемента <img> 
или <video>, должно заполнять контейнер относительно его 
высоты и ширины. */
  /*    cover - смещаемый контент меняет свой размер таким образом, 
                    чтобы сохранять свои пропорции при заполнении блока: окончательный размер 
                    контента будет определён как "покрытие" блока, ограничиваясь его шириной 
                    и высотой. */
}

/* flex-grow: 1; - свойство определяет коэффициент увеличения гибкого элемента по отношению 
к другим гибким элементам внутри одного контейнера при условии, что в нем есть свободное 
пространство. */
.btn-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fefefe;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 24px;
  gap: 16px;
  border-radius: 2px;
  background: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%);
  -webkit-box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
          box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
  outline: none;
  border: none;
  cursor: none; /* только для mobile версии */
  fill: #fefefe;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .btn-basic {
    cursor: pointer;
  }
}
.btn-basic:hover {
  background: #fefefe;
  color: #647b64;
  fill: #647b64;
}
.btn-basic:active {
  -webkit-box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.4);
          box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.4);
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 420px) and (max-width: 1439px) {
  .container {
    padding: 0 24px;
    width: 420px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .container {
    width: 1440px;
  }
}

.list {
  padding: 0;
  list-style: none;
}

.section {
  padding-bottom: 96px;
}

.heading-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  margin: 0 0 8px;
  text-transform: uppercase;
  color: #f3b562;
}

.heading-subtitle {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 40px;
  text-transform: uppercase;
  color: #647b64;
}

.heading-text {
  margin: 0 0 40px;
  letter-spacing: 0.04em;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 32px 0 0 0;
}

.burger-menu {
  fill: #222b45;
  outline: none;
  border: none;
  background-color: transparent;
}

.hero {
  padding: 80px 0;
}

.hero-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  position: relative;
  margin: 0 0 40px;
  color: #333333;
  text-transform: uppercase;
}
.hero-title::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -50px;
  left: 184px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(197.92deg, #ef8031 -227.37%, rgba(239, 128, 49, 0.307045) 1.58%, rgba(239, 128, 49, 0) 103.02%);
}

.hero-text {
  line-height: 1.5;
  margin: 0 0 40px;
}

.advantages {
  position: relative;
}
.advantages::before {
  position: absolute;
  z-index: -1;
  top: -24px;
  left: 0;
  width: 396px;
  height: 160px;
  background-image: linear-gradient(164.26deg, rgba(239, 128, 49, 0) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0) 119.45%);
  content: "";
}
@media screen and (min-width: 320px) and (max-width: 419px) {
  .advantages::before {
    width: 300px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .advantages::before {
    width: 600px;
  }
}

/* heading-title, heading-subtitle, heading-text - находяться в _common.scss */
.advantage-list {
  padding-top: 48px;
}

.advantage-item:not(:last-child) {
  margin-bottom: 32px;
}

.advantage-card {
  padding: 42px 40px 32px 40px;
  border-radius: 8px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.advantage-card:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5.87438px 31.33px rgba(155, 148, 148, 0.17);
          box-shadow: 0px 5.87438px 31.33px rgba(155, 148, 148, 0.17);
}

.advantage-card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #647b64;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
  -webkit-transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1), fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1), fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.advantage-card-icon:hover {
  fill: #ffffff;
  background-color: #647b64;
}

.advantage-card-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 8px;
}

.advantage-card-text {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.04em;
}/*# sourceMappingURL=main.css.map */