.features {
  position: relative;
  padding-bottom: 32px;

  @include desktop {
    &::before {
      position: absolute;
      z-index: -1;
      bottom: 0px;
      right: 0;
      width: 600px;
      height: 160px;
      background-image: $bg-img-section;
      transform: rotate(180deg);
      content: '';
    }
  }

  &::after {
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: 0;
    width: 224px;
    height: 224px;
    background-image: url('../images/decor.png');
    transform: rotate(180deg);
    content: '';

    @include retina {
      background-image: url('../images/decor@2.png'); /* не нравится как отображается в 2x */
    }
  }
}

.apply {
  @include desktop {
    display: flex;
    gap: 44px;
    flex-wrap: wrap;
  }

  position: relative;

  &__item {
    flex-basis: calc((100% - 88px) / 3);

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__card {
    padding: 64px 50px 59px 50px;
    border-radius: 8px;
    background: $bg-white-gradient;
    fill: $brand-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background: $brand-color;
      color: $white-text-hover;
      fill: $fill-hover-white;
    }
  }
}

.card-title__features {
  padding-top: 32px;
  margin-bottom: 16px;
}

.features-style {
  text-transform: uppercase;
}
