.our-team-item {
  position: relative;
  background: $bg-white-gradient;
  border-radius: 8px;
  padding: 24px 160px 120px 32px;
  
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.our-team-subtitle {
  font-weight: 500;
  margin: 0;
}

.our-team-title {
  @include font(14px, 500, 1.6);

  margin: 0;
}

blockquote {
  position: absolute;
  bottom: 24px;
  max-width: 308px;
  font-style: italic;
  letter-spacing: 0.04em;
  margin: 0;
}

.test {
  position: absolute;
  top: 24px;
  right: 32px;
}
