.container {
  // width: 100%;

  margin: 0 auto;
  // padding: 0 16px;
  padding: 0 16px;

  @include mobile {
    padding: 0 24px;
    width: 420px;
  }

  @include desktop {
    width: 1440px;
  }
}

.list {
  padding: 0;
  list-style: none;
}

//   .site-nav {
//     display: inline-flex;
//   }

.section {
  padding: 96px 0;
}
