.container {
  // width: 100%;

  margin: 0 auto;
  // padding: 0 16px;
  padding: 0 16px;

  @include mobile {
    padding: 0 24px;
    width: 420px;
  }

  @include desktop {
    width: 1440px;
  }
}

.list {
  padding: 0;
  list-style: none;
}

//   .site-nav {
//     display: inline-flex;
//   }

.section {
  padding-bottom: 96px;
}

.heading-title {
  @include font(18px, 400, 1.8);

  margin: 0 0 8px;
  text-transform: uppercase;
  color: $title-color;
}

.heading-subtitle {
  @include font(32px, 500, 1);

  margin: 0 0 40px;
  text-transform: uppercase;
  color: $subtitle-color;
}

.heading-text {
  margin: 0 0 40px;
  letter-spacing: 0.04em;
}
