html {
  scroll-behavior: smooth; /* - плавная прокрутка; 
                                instant - мгновенная прокрутка; 
                                auto - на усмотрение браузера. */
}

body {
  color: $text-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  background-color: $bg-color-site;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; /* изменяет вид маркера для каждого элемента 
                        списка (используется только в таком написании). */
}

link {
  text-decoration: none;
}

//   еще прописаны: h4, h5, h6
h1,
h2,
h3,
p {
  margin: 0;
  //   margin-top: 0;
}

img {
  //   display: block;

  display: block;
  min-width: 100%;
  height: auto;
  object-fit: cover; /* определяет как содержимое заменяемого элемента <img> 
                    или <video>, должно заполнять контейнер относительно его 
                    высоты и ширины. */
  /*    cover - смещаемый контент меняет свой размер таким образом, 
                    чтобы сохранять свои пропорции при заполнении блока: окончательный размер 
                    контента будет определён как "покрытие" блока, ограничиваясь его шириной 
                    и высотой. */
}

/* flex-grow: 1; - свойство определяет коэффициент увеличения гибкого элемента по отношению 
к другим гибким элементам внутри одного контейнера при условии, что в нем есть свободное 
пространство. */
