%btn-basic {
  @include desktop {
    cursor: pointer;
  }

  display: flex;
  align-items: center;
  color: $btn-text-color;
  line-height: 1.5;
  text-transform: uppercase;

  padding: 24px;
  gap: 16px;
  border-radius: 2px;
  background: $btn-bg;
  box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
  outline: none;
  border: none;
  cursor: none; /* только для mobile версии */
  fill: $arrow-color;

  &:hover {
    background: $btn-hover-active;
    color: $brand-color;
    fill: $brand-color;
  }

  &:active {
    box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.4);
  }
}

// Position
%flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

%absolutely-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
